.new-chat__form {
  position: relative;

  height: 70px;
  min-height: 70px;

  display: flex;

  background-color: white;

  border-radius: 8px;
  margin-top: 24px;
}

.new-chat__input {
  flex-grow: 1;

  font-size: 18px;
  line-height: 0.69;

  color: #707c97;

  border: none;
  padding-left: 75px;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  border-right: 2px solid #f5f4fb;
}

.create-chat__container--sub-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-chat__button {
  height: 100%;
  width: 180px;

  color: #707c97;

  border-radius: 0;
  border: none;
  margin: 0;

  box-shadow: none;
}

.create-chat__button {
  height: 60px;
  width: 240px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-chat__svg {
  position: absolute;
  top: 50%;
  left: 40px;

  transform: translateY(-50%);
}
