#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.base-container {
  display: flex;

  height: 100vh;
  width: 100vw;

  align-items: center;

  gap: 60px;
}

.auth__button {
  height: 49px;
  width: 185px;

  color: white;

  font-weight: 500;
  font-size: 20px;
  line-height: 0.84;

  background: linear-gradient(to right, #7cb8f7, #2a8bf2);

  box-shadow: 0 0 10px #7cb8f7;

  border: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7c7c7;

  border-radius: 20px;
}

.side-panel___svg > div {
  height: 24px;
  width: 24px;
}

.side-panel___svg svg {
  fill: #707c97;

  transition: fill 250ms ease-in-out;
}

.side-panel___svg--active svg {
  fill: #2a8bf2;
}

.main-chat-input__button {
  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2a8bf2;

  box-shadow: 0 0 10px 5px #2a8bf21a;

  border: none;
  border-radius: 100%;

  margin-left: 21px;
  margin-right: 21px;
}

.main-chat-input__button:focus {
  outline: none;
}

.main-chat-input___submit > div {
  height: 20px;
  width: 20px;
}

.main-chat-input__button--transparent {
  height: fit-content;
  width: fit-content;

  background: transparent;

  padding: 0;
  margin-left: 11px;
  margin-right: 11px;
}

.main-chat-input__svg--transparent svg {
  fill: transparent;
}

.chat {
  height: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chevron-down__svg--gray {
  stroke: #707c97;

  margin-left: 7px;
}

.chevron-down__svg--gray > div {
  height: 16px;
  width: 16px;
}

.chat__text {
  color: #707c97;
  font-size: 16px;
  line-height: 1.63;
}

.chat-list-item__text--line-height {
  line-height: 1.19;
}

.main__text--white {
  color: white;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
